<div class="min-h-screen app-layout">
  <.header />
  <.sidenav />
  <main class="px-4 py-20 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl">
      <.flash kind={:info} title="Success!" flash={@flash} />
      <.flash kind={:error} title="Error!" flash={@flash} />
      <.flash
        id="disconnected"
        kind={:error}
        title="We can't find the internet"
        close={false}
        autoshow={false}
        phx-disconnected={show("#disconnected")}
        phx-connected={hide("#disconnected")}
      >
        Attempting to reconnect <Heroicons.arrow_path class="ml-1 w-3 h-3 inline animate-spin" />
      </.flash>
      <%= @inner_content %>
    </div>
  </main>
  <footer class="p-4 sm:p-6 lg:p-8">
    <div class="prose dark:prose-invert text-center max-w-none">
      <p class="flex gap-2 justify-center">
        <a href={ci_commit_sha_url()}><%= ci_commit_sha_short() %></a>
        <a href="https://codeberg.org/sean/Swornforged">Source code</a>
        <a href="https://codeberg.org/sean/Swornforged/issues/new">Submit issue</a>
      </p>
      <p>
        <%= Swornforged.app_name() %> is built with iron by Sean Clayton, with <a href="https://github.com/rsek/dataforged/">Dataforged</a> by <a href="https://github.com/rsek/">rsek</a><br />
        for Ironsworn: Starforged by Shawn Tomkin &amp; Joshua Meehan
      </p>
      <p><%= Swornforged.app_name() %> is not affiliated with Ironsworn: Starforged, Dataforged, Shawn Tomkin, Joshua Meehan, or rsek.</p>
    </div>
  </footer>
</div>