<section class="dark:text-zinc-100">
  <div class="flex flex-col gap-2 text-center">
    <h2 class="text-4xl font-black"><%= Swornforged.app_name() %></h2>
    <p class="text-xl">An unofficial reference site for Ironsworn: Starforged</p>
  </div>
</section>
<section class="my-8">
  <div class="p-4 flex flex-col gap-4">
    <.srd_category_card category={:move_categories} title="Moves" to={~p"/srd/moves"} />
    <.srd_category_card category={:oracle_categories} title="Oracles" to={~p"/srd/oracles"} />
    <.srd_category_card category={:asset_types} title="Assets" to={~p"/srd/assets/"} />
    <.srd_category_card category={:encounters} title="Encounters" to={~p"/srd/encounters"} />
  </div>
</section>
