<.srd_type_container>
  <.srd_type_title>Moves</.srd_type_title>
  <div :for={move_category <- @moves} id={move_category["$id"]}>
    <.srd_subtype_title>
      <%= get_in(move_category, ["Display", "Title"]) %>
    </.srd_subtype_title>
    <ul class="flex flex-col gap-6">
      <li :for={move <- move_category["Moves"]} id={move["$id"]}>
        <.srd_item item={move}>
          <:title><%= get_in(move, ["Display", "Title"]) %></:title>
          <div class="max-w-none text-justify prose dark:prose-invert">
            <%= raw(
              Markdown.get_cache_html!(move["Text"], move["$id"], gfm: true, gfm_tables: true, compact_output: true)
            ) %>
          </div>
        </.srd_item>
      </li>
    </ul>
  </div>
</.srd_type_container>