@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
  }
  .text-shadow-md {
    text-shadow: 0px 3px 6px rgb(0 0 0 / 30%);
  }
  .text-shadow-lg {
    text-shadow: 0px 3px 6px rgb(0 0 0 / 30%), 0px 14px 28px rgb(0 0 0 / 25%);
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

@layer components {
  .app-layout {
    @apply grid grid-cols-[1fr];
    grid-template-areas:
      "header"
      "body"
      "footer";
  }

  .app-layout > aside {
    grid-area: sidenav;
  }

  .app-layout > header {
    grid-area: header;
  }

  .app-layout > main {
    grid-area: body;
  }

  .app-layout > footer {
    grid-area: footer;
  }

  @media screen(lg) {
    .app-layout {
      @apply grid-cols-[20rem,1fr];
      grid-template-areas:
        "sidenav header"
        "sidenav body"
        "sidenav footer";
    }
  }
}
